.container{
    width: 1200px;
    margin: 0 auto;
    border: 2px solid yellow;
    height: 1000px;
    
}
.container2{
    width: 400px;
    padding: 15px;
    height: 950px;
    border: 2px solid yellow;
    margin-left: 400px;
}
.container3{
   
    width: 400px;
    padding: 15px;
    margin-bottom: 15px;
    height: 950px;
    border: 2px solid yellow;
    border-left: none;
    
}

body{
    background: black;
    padding: 0;
    margin: 0;
    color: gold;
}
.logo3{
    height: 400px;
    width: 400px;

}
nav{
    display: flex;
}
.top{

}