.nav1{
    width: 960px;
    margin: 0 auto;
}
.nav1::before{
    content: '';
    display: block;
    height: 70px;
    width: 100%;
    background: gold;
    position: absolute;
    left:0;
    z-index: -1;

}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
    height: 50px;
}
ul li{
    float: left;
   margin-left: 250px;
}
ul li a{
    color:black;
    display: block;
    height: 70px;
    padding: 0 30px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 70px;

}
ul li a:hover{
    background: rgb(241, 241, 54);
}